<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename="home.css")}}">

</head>
<body id="bg-image">
    <nav class="nav-bar">
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="static/pixels/hambuger.png" alt="more" class="more">
                </button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="/help">Help center</a>
                    <a href="/Jobs">Jobs</a>
                </div>
            </div>
        </a>
    </nav>

    <header class="bg">
                <a href="/sign-up">SIGN UP</a>

                <a href="/login">LOGIN</a>


            
    </header>

    

</body>
</html>