<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs</title>
    <link rel="stylesheet" href="{{url_for('static', filename="jobs.css")}}">
</head>

<body>
    <header>
        <h1>Available Jobs</h1>
    </header>
    <main>
        <section class="job">
            <h2>Software Engineer</h2>
            <p>Location: Remote</p>
            <p>Description: We are seeking a skilled software engineer to join our team...</p>
            <button>Apply Now</button>
        </section>
        <section class="job">
            <h2>Graphic Designer</h2>
            <p>Location: New York, NY</p>
            <p>Description: We are looking for a talented graphic designer to create engaging and on-brand graphics...
            </p>
            <button>Apply Now</button>
        </section>
        <section class="job">
            <h2>Marketing Manager</h2>
            <p>Location: San Francisco, CA</p>
            <p>Description: Join our marketing team and help develop and implement marketing strategies...</p>
            <button>Apply Now</button>
        </section>
        <section class="job">
            <h2>Waiter</h2>
            <p>Location: San Francisco, CA</p>
            <p>Description: We are looking for a waiter with some customer service expirence...</p>
            <button>Apply Now</button>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Company Name. All rights reserved.</p>
    </footer>
</body>

</html>